<div class="py-2 px-4">
    <h1>Edycja zadania</h1>
<div class="flex flex-col gap-4">

    <mat-form-field >
        <mat-label>Tytuł</mat-label>
        <input matInput placeholder="Tytuł" [(ngModel)]="card.title">
    </mat-form-field>
    <mat-form-field >
        <mat-label>Opis</mat-label>
        <textarea matInput matInput placeholder="Opis zadania"  [(ngModel)]="card.description"></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Przewidywana data zakończenia</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="card.endDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
      
    <!-- <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Assignee</mat-label>
        <input type="text" matInput [(ngModel)]="card.idUserAssigned" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field> -->

      <div class="flex justify-end gap-4">
        <button class="hover:bg-opacity-90 active:bg-red-500 py-3 px-8 rounded shadow text-xl bg-red-400">Odrzuć</button>
        <button class="hover:bg-opacity-90 active:bg-emerald-500 py-3 px-8 rounded shadow text-xl bg-emerald-400">Zatwierdź</button>
      </div>
</div>
</div>